requests==2.31.0
python-dotenv==1.0.0
psycopg2-binary==2.9.9
SQLAlchemy==2.0.41
# pandas==2.2.0
pg8000==1.30.5
beautifulsoup4==4.12.2
python-dateutil==2.9.0.post0
spacy==3.7.2
textblob==0.17.1
nltk==3.8.1
# sentence-transformers==2.2.2
certifi==2024.2.2
urllib3==2.1.0
feedparser==6.0.10
# python-dateutil==2.8.2
# chromadb==0.4.22
#torch==2.1.2
typing-extensions==4.8.0

