# requests==2.31.0
# python-dotenv==1.0.0
# psycopg2-binary==2.9.9
SQLAlchemy==2.0.25
feedparser==6.0.12
requests==2.32.3
python-dotenv==1.0.1
pg8000==1.31.5
beautifulsoup4==4.13.3
python-dateutil==2.9.0.post0
spacy==3.8.2
textblob==0.17.1
nltk==3.8.1
sentence-transformers==2.2.2
certifi==2024.2.2
urllib3==2.2.1